<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:include="base">
    <head lang="en">

        <meta charset="UTF-8" />
        <title></title>
    </head>
    <body>

    <div th:fragment="content">

      <h1>Most recent News</h1>

      <ul class="v">
        <li th:each="newsitem :${newsItems}">
          <h3><a th:href="@{/news/{id}(id=${newsitem.id})}" th:text="${newsitem.headline}">headline</a></h3>
          <div th:if="${newsitem.image != null}">
              <img th:src="@{/news/{id}/image(id=${newsitem.id})}" width="30%"/>
          </div>
          <p th:text="${newsitem.lead}">lead</p>
        </li>
      </ul>

    </div>
    </body>

</html>
