<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:include="base">
    <head>
    <style>
    li {
display: inline-block;
margin: 0 10px;
}
    </style>
        <meta charset="UTF-8" />
        <title th:text="${newsItem.headline}"></title>
    </head>
    <body>
      <div th:fragment="content">
      <h1 th:text="${newsItem.headline}">Headline</h1>
      <ul>
      <li th:each="writer :${newsItem.writers}">
          <a th:href="@{/writers/{id}(id=${writer.id})}" th:text="${writer.name} ">Writer name</a>
      </li>
    </ul>

    <p th:text="${newsItem.text}">Text</p>




  </div>
    </body>

</html>
