<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
    <style>
    /*li {
display: inline-block;
margin: 0 10px;
}*/
    </style>
        <meta charset="UTF-8" />
        <title>Writers</title>
    </head>
    <body>
    <h1>Writers</h1>
      <ul th:each="writer : ${writers}">
        <a th:href="@{/writers/{id}(id=${writer.id})}" th:text="${writer.name}">Writer name</a>
      </ul>



      <form method="POST" th:action="@{/writers}">
        <input type="text" name="name"/>
        <input type="password" name="password"/>
        <input type="submit"/>
      </form>



    </body>

</html>
